{% extends 'base.html' %}

{% block style %}
<style>
    body {
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
    }

    .card {
        width: 14rem;
        height: 250px;
        margin: 3px; /* Reduced the margin for the cards */
        border-radius: 15px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
    }

    .card:nth-child(3n+3) {
        margin-right: 10px; /* Add margin to every third card */
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card img {
        border-radius: 15px 15px 0 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: filter 0.3s ease-in-out;
    }

    .card:hover img {
        filter: blur(5px);
    }

    .card-details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        color: white;
    }

    .card:hover .card-details {
        opacity: 1;
    }

    .card-title {
        font-size: 20px;
        font-weight: bold;
    }

    .card-details p {
        margin: 5px 0;
    }

    .card-details a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    .card-details a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block title %} Movies list{% endblock %}

{% block body %}
<span class="badge" style="color:blueviolet"><h1>Movies</h1></span>
<br><br>

<div class="row">
    {% for movies in movies_list %}
    <div class="col-md-4">
        <div class="card">
            <img src="{{ url }}/media/{{ movies.image }}" alt="{{ movies.name }}" class="card-img-top">
            <div class="card-details">
                <h3 class="card-title">{{ movies.title }}</h3>
                <p>Language: {{ movies.language }}</p>
                <p>Release Date: {{ movies.release_date }}</p>
                <p>Genre: {{ movies.subcategory }}</p>
                <a href="{% url 'movies_details' movies.id %}" style="color: white; text-decoration: none;">
                    View More
                </a>
            </div>
        </div>
        <br>
    </div>
    {% endfor %}
</div>
{% endblock %}