{% extends 'base.html' %}

{% block title %} Subscriber Registration {% endblock %}

{% block style %}
<style>
    .registration-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        background-color: black;
        color: white;
    }

    .registration-container h3 {
        text-align: center;
        margin-bottom: 20px;
    }

    .registration-container .form-group {
        margin-bottom: 20px;
    }

    .registration-container .form-control {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .registration-container .btn-success {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        background-color: #6f42c1; /* Purple color */
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .registration-container .btn-success:hover {
        background-color: #7a506f; /* Darker shade of purple */
    }
</style>
{% endblock %}

{% block body %}
<div class="container mt-3 registration-container">
    <h3>Please Register</h3>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ subscriber_reg_form.as_p }}
        <input type="submit" value="Register" class="btn btn-success">
    </form>
</div>
{% endblock %}
